@use "../../../scss/" as *;

.layout {
  color: $txt-color;

  &__content {
    padding-left: $sidebar-width;
    background-color: $second-bg;
    min-height: 100vh;
    overflow: hidden;

    &-main {
      padding: 3rem;
    }
  }
}
